.features {
  position: relative;
  h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
  background-color: rgb(237, 244, 197);
  .single-features {
    display: flex;

    .features-icon {
      span {
        position: relative;
        color: rgb(255, 255, 255);
        background: $theme-primary;
        font-size: 30px;
        height: 67px;
        width: 67px;
        display: block;
        line-height: 67px;
        border-radius: 50%;
        text-align: center;
        background-image: -moz-linear-gradient(
          90deg,
          rgb(231, 138, 233) 0%,
          rgb(146, 110, 248) 100%
        );
        background-image: -webkit-linear-gradient(
          90deg,
          rgb(231, 138, 233) 0%,
          rgb(146, 110, 248) 100%
        );
        background-image: -ms-linear-gradient(
          90deg,
          rgb(231, 138, 233) 0%,
          rgb(146, 110, 248) 100%
        );
      }
    }
    .features-caption {
      padding-left: 19px;
      h3 {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 10px;
        color: #23182c;
      }
    }
  }
}
